// Responsive
$xl: 1280px;
$lg: 1024px;
$md: 768px;
$sm: 414px;

// Colors
$magenta: #f25597;
$purple: #a900ff;
$blue: #100aff;
$white: #fff;
$black: #000;

// Fonts
$font-primary: "Pexico", sans-serif;
